a{
text-decoration: none;
font-style: normal;
}

/* ЗАвдання 1 */
.text-box h3:first-of-type {
    color: pink
}

#greycol{
    color: grey
}

.text-box p:last-of-type{
color: red
}

.text-box p:nth-of-type(2n+3) {
    color: #07f124
}

.text-box .yellow:last-of-type{
color: yellow
}

/* Завдання 2 */
/* псевдокласи: стану */
.monday-title:active{
    color: #07f124;
    cursor: pointer;
}

.tuesday-title:hover{
    color: blue;
    cursor: pointer;
}

.wednesday-title:focus{
color: purple;
}

.thursday-title:visited{
  color: red;  
}

.friday-title:link{
    color: yellow;
}

/* Структурні псевдокласи: */
.timetable >:first-child{
    color: yellow;
}

.timetable >:last-child{
    color: #07f124;
}

.thursday >:nth-child(odd){
    color: purple;
}

.timetable >:nth-child(even){
    color: red;
}

.timetable >:nth-child(3){
    color: aqua;
}


